<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Importing the Necessary Libraries<br></p>

In [1]:
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from math import sqrt

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Creating a Pandas DataFrame from a CSV file<br></p>

In [2]:
data = pd.read_csv('/home/ahsan/Downloads/all/train.csv')
test = pd.read_csv('/home/ahsan/Downloads/all/test.csv')

In [85]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [86]:
data.shape

(891, 12)

In [87]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [88]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [89]:
data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [90]:
data["Embarked"] = data["Embarked"].fillna("S")

In [91]:
data["Age"] = data["Age"].fillna(29)

In [92]:
del data['Cabin']

In [93]:
del data['PassengerId']

In [94]:
data.drop('Name', axis=1, inplace=True)

In [95]:
data.isnull().any()

Survived    False
Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Ticket      False
Fare        False
Embarked    False
dtype: bool

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Creating features<br></p>

# only store numeric data in features

In [96]:
# only store numeric data in features
data1 = data._get_numeric_data()
data1.head(1)

   Survived  Pclass   Age  SibSp  Parch  Fare
0         0       3  22.0      1      0  7.25

In [97]:
# limit to categorical data using df.select_dtypes()
data = data.select_dtypes(include=[object])

data.head(3)

      Sex            Ticket Embarked
0    male         A/5 21171        S
1  female          PC 17599        C
2  female  STON/O2. 3101282        S

In [98]:
data.columns

Index(['Sex', 'Ticket', 'Embarked'], dtype='object')

In [99]:
# TODO: create a LabelEncoder object and fit it to each feature in X


# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
data_2 = data.apply(le.fit_transform)
data_2.head()

   Sex  Ticket  Embarked
0    1     523         2
1    0     596         0
2    0     669         2
3    0      49         2
4    1     472         2

In [ ]:
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(data_2)

# 3. Transform
onehotlabels = enc.transform(data_2).toarray()
onehotlabels.shape

# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

In [37]:
onehotlabels

array([[0., 1., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [100]:
data=pd.concat([data1, data_2], axis=1)

In [101]:
data.head(5)

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex  Ticket  Embarked
0         0       3  22.0      1      0   7.2500    1     523         2
1         1       1  38.0      1      0  71.2833    0     596         0
2         1       3  26.0      0      0   7.9250    0     669         2
3         1       1  35.0      1      0  53.1000    0      49         2
4         0       3  35.0      0      0   8.0500    1     472         2

In [102]:
data.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Ticket',
       'Embarked'],
      dtype='object')

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Declare the Columns You Want to Use as Features
<br><br></p>

In [103]:
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Ticket',
       'Embarked']

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Specify the Prediction Target
<br><br></p>

In [104]:
target = ['Survived']

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Extract Features and Target ('Survived') Values into Separate Dataframes
<br><br></p>

In [105]:
X = data[features]

In [106]:
y = data[target]

In [107]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
5           0
6           0
7           0
8           1
9           1
10          1
11          1
12          0
13          0
14          0
15          1
16          0
17          1
18          0
19          1
20          0
21          1
22          1
23          1
24          0
25          1
26          0
27          0
28          1
29          0
..        ...
861         0
862         1
863         0
864         0
865         1
866         1
867         0
868         0
869         1
870         0
871         1
872         0
873         0
874         1
875         1
876         0
877         0
878         0
879         1
880         1
881         0
882         0
883         0
884         0
885         0
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [108]:
X.iloc[2]

Pclass        3.000
Age          26.000
SibSp         0.000
Parch         0.000
Fare          7.925
Sex           0.000
Ticket      669.000
Embarked      2.000
Name: 2, dtype: float64

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=324)

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Leneal prediction
<br><br></p>

In [81]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [82]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[ 0.34546997],
       [ 0.15967745],
       [ 0.0509133 ],
       [ 0.74478448],
       [ 0.26637586],
       [ 0.39134576],
       [ 0.34127928],
       [ 0.14924851],
       [ 0.91653065],
       [ 0.18813331],
       [ 0.11253713],
       [ 0.86135816],
       [ 0.24661787],
       [ 0.04149719],
       [ 0.34884348],
       [ 0.07561694],
       [ 0.07048892],
       [ 0.62723503],
       [ 0.46731643],
       [ 1.05998157],
       [ 0.65539871],
       [ 0.35943229],
       [ 0.44446255],
       [ 0.65665504],
       [ 0.0316874 ],
       [ 0.08082621],
       [-0.00409766],
       [ 0.74217207],
       [-0.01197313],
       [-0.05237437],
       [ 0.14583251],
       [ 0.76124809],
       [ 0.2453247 ],
       [ 0.28516718],
       [-0.2778906 ],
       [ 0.83107943],
       [ 0.74350111],
       [ 0.06841333],
       [ 0.16202559],
       [ 0.69710758],
       [ 0.71653617],
       [ 0.05785908],
       [ 0.14292314],
       [ 0.28933639],
       [ 0.25565452],
       [ 0.11603581],
       [ 0.45407438],
       [ 0.0887176 ],
       [ 0.15013595],
       [ 0.84870499],
       [ 0.01260452],
       [ 0.16099465],
       [ 0.53987945],
       [ 0.34247469],
       [ 0.40148466],
       [ 0.0320619 ],
       [ 0.35679437],
       [-0.00322637],
       [ 0.05575764],
       [ 0.0931939 ],
       [ 0.11318081],
       [ 0.1675392 ],
       [ 0.74736981],
       [ 0.16938644],
       [ 1.01721849],
       [ 0.92472242],
       [ 0.15494863],
       [ 0.55890582],
       [ 0.57960251],
       [ 0.41974426],
       [ 0.2321068 ],
       [ 0.11213989],
       [ 0.40329433],
       [ 0.10741346],
       [ 0.36560048],
       [-0.07538456],
       [ 0.26026758],
       [ 0.1535573 ],
       [ 0.30540361],
       [ 0.10894875],
       [ 0.73522286],
       [ 0.18744023],
       [ 0.82755318],
       [ 0.10518806],
       [ 0.24277785],
       [ 0.24606192],
       [ 0.19098346],
       [ 0.1482062 ],
       [-0.13274956],
       [ 0.26109813],
       [ 0.29174931],
       [ 0.64217759],
       [ 0.87368564],
       [ 0.13824987],
       [ 0.74573993],
       [ 0.87035187],
       [ 1.03453987],
       [ 0.10992399],
       [ 0.11197897],
       [ 0.61746252],
       [ 0.16992602],
       [ 0.20126578],
       [ 0.1707129 ],
       [ 1.04161759],
       [ 0.48365375],
       [ 0.79381779],
       [ 0.824854  ],
       [-0.01220404],
       [ 0.31488309],
       [ 0.11854928],
       [ 0.53109267],
       [-0.2778906 ],
       [ 0.14296984],
       [ 0.25439367],
       [ 0.66779505],
       [ 0.98731523],
       [ 0.34634097],
       [ 0.8651124 ],
       [ 0.83790425],
       [ 0.26223839],
       [ 0.56485777],
       [ 0.22826968],
       [ 0.13428429],
       [ 0.85335975],
       [ 0.14739067],
       [ 0.1375648 ],
       [ 0.11586374],
       [ 0.24228635],
       [ 0.12815066],
       [ 0.13984249],
       [ 0.61280612],
       [ 0.43469554],
       [ 0.26708052],
       [ 0.6844199 ],
       [ 0.07234535],
       [ 0.29175785],
       [ 0.13578789],
       [ 0.26260029],
       [ 0.1687298 ],
       [ 0.34038262],
       [ 0.25438001],
       [ 0.98839247],
       [ 1.01395191],
       [ 0.64757996],
       [ 0.30350099],
       [ 0.00994916],
       [ 0.40046653],
       [ 0.31460244],
       [ 0.01506394],
       [ 0.24048306],
       [-0.03593487],
       [ 0.55488897],
       [ 0.22312268],
       [ 0.55156838],
       [ 0.26095756],
       [ 0.78813923],
       [ 0.57174625],
       [ 0.29443194],
       [ 0.29549596],
       [ 0.54210877],
       [ 0.06793586],
       [ 0.21398202],
       [ 0.68513959],
       [ 0.07722509],
       [ 0.23859492],
       [ 0.25600346],
       [ 0.1510464 ],
       [ 0.58467693],
       [ 0.29450248],
       [ 0.26727248],
       [ 0.117524  ],
       [ 0.09717718],
       [ 0.86853374],
       [ 0.14385483],
       [ 0.17493705],
       [ 0.28573602],
       [ 0.49054049],
       [ 0.63074175],
       [ 0.06502406],
       [ 1.00272462],
       [ 0.74217808],
       [ 1.04161759],
       [ 0.26385649],
       [ 0.86503212],
       [ 0.70815016],
       [ 0.18839465],
       [ 0.42736454],
       [ 0.15918377],
       [ 0.22204749],
       [ 0.78592607],
       [ 0.59498409],
       [ 0.05754685],
       [ 0.0895031 ],
       [ 0.33905708],
       [ 0.69946406],
       [ 0.36394803],
       [ 0.05822392],
       [ 0.24048306],
       [ 0.24914781],
       [ 0.05159604],
       [ 0.85735437],
       [ 0.97660123],
       [ 0.62228281],
       [ 0.73504307],
       [ 1.0708895 ],
       [ 0.16622602],
       [ 0.05859093],
       [ 0.15787529],
       [-0.08548382],
       [ 0.17949687],
       [ 0.9717823 ],
       [ 0.29049777],
       [ 0.42193363],
       [ 0.48729119],
       [ 0.7786814 ],
       [ 0.12363575],
       [ 0.60000933],
       [ 0.37463467],
       [ 0.26604267],
       [ 0.71602876],
       [ 0.20934506],
       [ 0.1919988 ],
       [ 0.22599247],
       [ 0.14403462],
       [ 0.1163478 ],
       [ 0.42648008],
       [ 0.25501749],
       [ 0.04931758],
       [ 0.62880591],
       [ 0.55122529],
       [ 0.86666945],
       [ 0.12409068],
       [ 0.1522518 ],
       [ 0.09346679],
       [ 0.26354918],
       [ 0.42474373],
       [ 0.10834415],
       [ 0.28625945],
       [ 0.09501971],
       [ 0.09861549],
       [ 0.26567284],
       [ 0.04157823],
       [ 0.89264099],
       [ 0.95518206],
       [ 0.08947377],
       [ 0.17999458],
       [ 0.52674171],
       [ 0.74932597],
       [ 0.54857739],
       [ 0.44247451],
       [-0.16089426],
       [ 0.66294765],
       [ 0.14988237],
       [ 0.0654398 ],
       [ 0.17408489],
       [ 0.56555263],
       [ 0.62074267],
       [ 0.16939533],
       [-0.0136159 ],
       [-0.05887032],
       [ 0.20598649],
       [ 0.41460988],
       [-0.15054563],
       [ 0.55673654],
       [ 0.47057993],
       [ 0.56233785],
       [ 1.08231858],
       [ 0.21289305],
       [ 0.65537483],
       [ 0.90450282],
       [ 0.89449898],
       [ 0.17031599],
       [-0.01720511],
       [ 0.45778946],
       [ 0.44388437],
       [ 0.07284572],
       [ 0.82458149],
       [ 0.18146292],
       [ 0.76925439],
       [ 0.7780121 ],
       [ 0.11430258],
       [ 0.89006119],
       [ 0.07705214],
       [-0.04061384],
       [ 0.2510058 ],
       [ 0.68641489],
       [ 0.36225682],
       [ 0.06063698],
       [ 0.16558934],
       [ 0.24688008],
       [ 0.19497985],
       [ 0.53996267],
       [ 0.61623434],
       [ 0.13526054],
       [ 0.09969423]])

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Fit on Train Set
<br><br></p>

In [112]:
Survived_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
Survived_classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [113]:
type(Survived_classifier)

sklearn.tree.tree.DecisionTreeClassifier

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Predict on Test Set 

<br><br></p>

In [114]:
predictions = Survived_classifier.predict(X_test)

In [115]:
predictions[:10]

array([1, 0, 0, 1, 0, 1, 0, 0, 1, 0])

In [116]:
y_test['Survived'][:10]

831    1
441    0
614    0
615    1
859    0
690    1
587    1
196    0
669    1
588    0
Name: Survived, dtype: int64

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Measure Accuracy of the Classifier
<br><br></p>

In [119]:
accuracy_score(y_true = y_test, y_pred = predictions)

0.8